pyqt5
numpy
pyqt
hdf5
libpng
zeromq
freetype
pandoc
scipy
pandas
yapsy
requests
matplotlib
scikit-learn
pyqtconfig
mplstyler
ipython[all]
pandas
dill
pyqtconfig
mplstyler
mistune
biocyc
pydot
jsonschema