<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://
www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Pathomx</string>
	<key>CFBundleName</key>
	<string>Pathomx</string>
	<key>CFBundleDisplayName</key>
	<string>Pathomx</string>
    <key>CFBundleIconFile</key>
    <string>Pathomx</string>
    <key>CFBundleIdentifier</key>
    <string>org.pathomx.Pathomx</string>
    <key>LSHasLocalizedDisplayName</key>
    <true/>
</plist> 
